{% extends "layout.html" %}

{% block title %}Folder: {{ folder.name }}{% endblock %}
{% block banner %}
<div class="container col-xl-10 col-xxl-8 px-2 py-5">
    <div class="row align-items-center g-lg-5 py-5 text-center">
        <div class="col text-center ">
            <h1 class="display-4 fw-bold lh-1 mb-2 text-center">
                <img src="{{ url_for('static', filename='img/img.png') }}" alt="Brand Logo" style="height: 100px;">
                Create Folder or Upload Documents
            </h1>

        </div>

    </div>
    <div class="d-flex justify-content-center align-items-center mb-4">
        <div>
            {% if parent_folder %}
            <a href="{{ url_for('folder', username=current_user.username, folder_id=parent_folder.id) }}"
                class="btn btn-secondary">Go to Parent Folder</a>
            {% else %}
            <a href="{{ url_for('home') }}" class="btn btn-secondary">Go to Home</a>
            {% endif %}
        </div>
    </div>

</div>
<hr class="my-2">
{% endblock %}


{% block content %}

<div class="container-fluid ">
    <div class="row ">
        <!-- Folder Creation Form -->
        <div class="col-md-3 p-3 card">
            <div class="card p-3">
                <h2>Create New Folder</h2>
                <form method="POST"
                    action="{{ url_for('folder', username=current_user.username, folder_id=folder.id) }}">
                    {{ form.hidden_tag() }}
                    <div class="form-group input-group-lg">
                        {{ form.name.label(class="form-label") }}
                        {{ form.name(class="form-control") }}
                    </div>
                    <div class="form-group input-group-lg mt-2">
                        <button type="submit" class="btn btn-primary">{{ form.submit.label }}</button>
                    </div>
                </form>
            </div>
            <div class="card p-3">
                <h2>Upload File</h2>
                <form method="POST"
                    action="{{ url_for('folder', username=current_user.username, folder_id=folder.id) }}"
                    enctype="multipart/form-data">
                    {{ upload_form.hidden_tag() }}
                    <div class="form-group input-group-lg">
                        {{ upload_form.file.label(class="form-label") }}
                        {{ upload_form.file(class="form-control-file") }}
                    </div>
                    <div class="form-group input-group-lg">
                        {{ upload_form.new_name.label(class="form-label") }}
                        {{ upload_form.new_name(class="form-control") }}
                    </div>
                    <div class="form-group input-group-lg mt-2">
                        <button type="submit" class="btn btn-success">{{ upload_form.submit.label }}</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- File Upload Form -->


        <div class="col-md-3 p-3 card">
            {% if subfolders %}
            <!-- Subfolders List -->


            <div class="card-body">
                <h2>Subfolders</h2>
                <ul class="list-group">
                    {% for subfolder in subfolders %}
                    <li class="list-group-item">
                        <a href="{{ url_for('folder', username=current_user.username, folder_id=subfolder.id) }}">{{
                            subfolder.name }}</a>
                    </li>
                    {% endfor %}
                </ul>


            </div>
            {% endif %}
        </div>
        <div class="col-md-6 p-3 card">
            {% if files %}

                <!-- Files List -->

                
                    <h1>Folder: {{ folder.name }}</h1>
                    <ul class="list-group">
                        {% for file in files %}
                        {% if file.name.endswith('.pdf') or file.name.endswith('.jpg') or file.name.endswith('.png') %}
                        <!-- Open PDF files in a new tab -->
                        <a href="{{ url_for('download_file', filename=file.path) }}" target="_blank">{{ file.name }}</a>
                        {% else %}
                        <!-- Directly download other files -->
                        <a href="{{ url_for('download_file', filename=file.path) }}" download>{{ file.name }}</a>
                        {% endif %}
                        {% endfor %}
                    </ul>
            

            {% endif %}

        </div>
    </div>
</div>
{% endblock %}